{% extends "base.html" %}
{% block content %}

{% include "contacts/search.html" %}

<p class="p-2">
    <small><b>{{ contacts|count }}</b> results</small>
    {% if info.key[0]|length %}
        <small>for</small> {% for k in info.key %}<span class="badge badge-secondary">{{ k }}</span> {% endfor %}
    {% endif %}
</p>

{% if request.args.get('sort') and request.args.get('sort')[0]=='D' %}
    {% set urlsort = (request.url).split('?')[0] + "?sort=A" %}
{% else %}
    {% set urlsort = (request.url).split('?')[0] + "?sort=D" %}
{% endif %}
<div class="table-responsive">
    <table class="table table-hover table-sm">
    <thead class="thead-dark">
        <tr class="small">
            <th scope="col">#</th>
            <th scope="col">Full name <a href="{{ urlsort }}fullname" class="text-white"><i class="fa fa-fw fa-sort"></i></a></th>
            <th scope="col">Role <a href="{{ urlsort }}role" class="text-white"><i class="fa fa-fw fa-sort"></i></a></th>
            <th scope="col">Email <a href="{{ urlsort }}email" class="text-white"><i class="fa fa-fw fa-sort"></i></a></th>
            <th scope="col">PGP <a href="{{ urlsort }}pgp" class="text-white"><i class="fa fa-fw fa-sort"></i></a></th>
            <th scope="col">Phone <a href="{{ urlsort }}phone" class="text-white"><i class="fa fa-fw fa-sort"></i></a></th>
            <th scope="col">Web</th>
            <th scope="col">Tags</th>
            {% if session['logged'] %}
            <th scope="col">Actions</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for c in contacts %}
        <tr class="small">
            <th scope="row"><span class="badge badge-light">{{ loop.index }}</span></th>
            <td>{{ c.fullname }}</td>
            <td>{{ c.role }}</td>
            <td>
                {% if c.email|length %}
                    <a href="mailto:{{ c.email }}" class="text-dark">{{ c.email }}</a>
                {% endif %}
            </td>
            <td>
                {% if c.pgp|length %}
                    <a href="https://pgp.circl.lu/pks/lookup?op=get&search={{ c.pgp }}" target="_new" class="text-dark">{{ c.pgp }}</a>
                {% endif %}
            </td>
            <td>
                {% if c.phone|length %}
                    <a href="tel:{{ c.phone }}" class="text-dark">{{ c.phone }}</a>
                {% endif %}
            </td>
            <td>
                {% if c.website|length %}
                    <a href="{{ c.website }}" target="_new" class="text-dark"><i class="fas fa-external-link-alt"></i></a>
                {% endif %}
            </td>
            <td>
                {% if c.tags|length > 0 %}
                    {% for t in c.tags|sort %}
                        <a href="{{ url_for('contacts_tag',id=t) }}" class="btn btn-outline-primary btn-sm">{{ t }}</a>
                    {% endfor %}
                {% endif %}
            </td>
            {% if session['logged'] %}
            <td>
                <form action="{{ url_for('contacts_del',id=c.id) }}">
                    <a href="{{ url_for('contacts_mod',id=c.id) }}" class="btn btn-warning btn-sm text-white"><i class="fas fa-pen"></i></a>
                    <button type="submit" class="contact_del_btn btn btn-danger btn-sm"><i class="far fa-trash-alt"></i></button>
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}

        {% if session['logged'] %}
        <tr class="small">
            <td colspan=8></td>
            <td><a href="{{ url_for('contacts_add') }}" class="btn btn-primary btn-sm"><i class="fas fa-plus-square"></i></a></td>
        </tr>
        {% endif %}

    </tbody>
    </table>
</div> 

<!-- <button id="test" class="btn">Test</button> -->

{% endblock %}