<div class="card">
    <div class="card-body">
        <form id="search_form"> 
            <div class="mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                    <input id="search_input" type="text" class="form-control form-control-sm w-50" placeholder="type keywords ..." aria-label="search for tags ...">
                </div>
                <i><small class="form-text text-muted">Search for text in fullname and position, but also for tags (ex: "london" or "london,marketing").</small></i>
            </div>
        </form>
        {% if info %}
            <a href="{{ url_for('contacts_list') }}" class="btn btn-outline-info btn-sm m-1">
                all records <span class="badge badge-pill badge-info">{{ info.records }}</span>
            </a>
            {% for t in info.tags|dictsort(true) %}
                <a href="{{ url_for('contacts_tag', id=t[0]) }}" class="btn btn-outline-secondary btn-sm m-1">
                    {{ t[0] }} <span class="badge badge-pill badge-secondary">{{ t[1] }}</span>
                </a>
            {% endfor %}
        {% endif %}
    </div>
</div>