{% extends "base.html" %}
{% block content %}

<p class="p-2">
    <b>{{ contacts.items|count }}</b> results
    {% if info.key %}
        for {% for k in info.key %}<span class="badge badge-secondary">{{ k }}</span> {% endfor %}
    {% endif %}
</p>

<div class="table-responsive">
    <table class="table table-hover table-sm">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Last name</th>
            <th scope="col">First name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Twitter</th>
            <th scope="col">Tags</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for c in contacts %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ c.lname }}</td>
            <td>{{ c.fname }}</td>
            <td>{{ c.email }}</td>
            <td>{{ c.phone }}</td>
            <td>{{ c.twitter }}</td>
            <td>
                {% if c.tags|length > 0 %}
                    {% for t in c.tags|sort %}
                        <a href="{{ url_for('contacts_tag',id=t) }}" class="btn btn-outline-primary btn-sm">{{ t }}</a>
                    {% endfor %}
                {% endif %}
            </td>
            <td>
                <a href="{{ url_for('contacts_mod',id=c.id) }}" class="btn btn-warning btn-sm">edit</a>
                <a href="{{ url_for('contacts_del',id=c.id) }}" class="btn btn-danger btn-sm">delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div> 

<p class="p-2">
    <a href="{{ url_for('contacts_add') }}" class="btn btn-primary btn-sm">add new contact</a>
</p>

{% endblock %}