{% extends "base.html" %}
{% block content %}

<form class="form col-md-6 offset-3" id="contacts_form" method="post">
    <div class="p-4">
        {% if contact.id %}
            <h2><i class="far fa-address-card pr-3"></i> edit contact</h2>
        {% else %}
            <h2><i class="far fa-address-card pr-3"></i> add contact</h2>
        {% endif %}
    </div>
    <div class="form-group row">
        <label for="contact_fullname" class="col-sm-2 col-form-label-sm">First name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control form-control-sm" name="contact_fullname" value="{{ contact.fullname }}" placeholder="enter full name">
        </div>
    </div>
    <div class="form-group row">
        <label for="contact_position" class="col-sm-2 col-form-label-sm">Position</label>
        <div class="col-sm-10">
            <input type="text" class="form-control form-control-sm" name="contact_position" value="{{ contact.position }}" placeholder="enter position">
        </div>
    </div>
    <div class="form-group row">
        <label for="contact_email" class="col-sm-2 col-form-label-sm">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control form-control-sm" name="contact_email" value="{{ contact.email }}" placeholder="enter email address">
        </div>
    </div>
    <div class="form-group row">
        <label for="contact_pgp" class="col-sm-2 col-form-label-sm">PGP</label>
        <div class="col-sm-10">
            <input type="pgp" class="form-control form-control-sm" name="contact_pgp" value="{{ contact.pgp }}" placeholder="enter PGP key">
        </div>
    </div>
    <div class="form-group row">
        <label for="contact_phone" class="col-sm-2 col-form-label-sm">Phone</label>
        <div class="col-sm-10">
            <input type="text" class="form-control form-control-sm" name="contact_phone" value="{{ contact.phone }}" placeholder="enter phone number">
        </div> 
    </div>
    <div class="form-group row">
        <label for="contact_website" class="col-sm-2 col-form-label-sm">Website</label>
        <div class="col-sm-10">
            <input type="text" class="form-control form-control-sm" name="contact_website" value="{{ contact.website }}" placeholder="enter website">
        </div> 
    </div>
    <div class="form-group row">
        <label for="contact_tags" class="col-sm-2 col-form-label-sm">Tags</label>
        <div class="col-sm-10">
            <input type="text" class="form-control form-control-sm" name="contact_tags" id="contact_tags" value="{{ contact.tags|join(',') }}" placeholder="enter tag ...">
            <small id="emailHelp" class="form-text text-muted">type new tag or choose one from autocompletion, and separate them with commas.</small>
        </div>
    </div>
    <div class="form-group row">
        <label for="contact_tags" class="col-sm-2 col-form-label-sm"></label>
        <div class="col-sm-10">
            {% if contact.id %}
                <input type="hidden" name="contact_id" value="{{ contact.id }}">
                <button type="submit" class="btn btn-warning btn-sm btn-block"><i class="fas fa-database"></i> update contact</button>
            {% else %}
               <button type="submit" class="btn btn-primary btn-sm btn-block"><i class="fas fa-database"></i> add contact</button>
            {% endif %}
        </div>
    </div>
</form>

{% endblock %}