{% extends "base.html" %}
{% block content %}

<p class="p-2">
    <small><b>{{ contacts|count }}</b> results</small>
    {% if info.key[0]|length %}
        <small>for</small> {% for k in info.key %}<span class="badge badge-secondary">{{ k }}</span> {% endfor %}
    {% endif %}
</p>

{% if request.args.get('sort') and request.args.get('sort')[0]=='D' %}
    {% set urlsort = (request.url).split('?')[0] + "?sort=A" %}
{% else %}
    {% set urlsort = (request.url).split('?')[0] + "?sort=D" %}
{% endif %}
<div class="table-responsive">
    <table class="table table-hover table-sm">
    <thead class="thead-dark">
        <tr class="">
            <th scope="col">#</th>
            <th scope="col">Last name <a href="{{ urlsort }}lname" class="text-white"><i class="fa fa-fw fa-sort"></i></a></th>
            <th scope="col">First name <a href="{{ urlsort }}fname" class="text-white"><i class="fa fa-fw fa-sort"></i></a></th>
            <th scope="col">Position <a href="{{ urlsort }}position" class="text-white"><i class="fa fa-fw fa-sort"></i></a></th>
            <th scope="col">Email <a href="{{ urlsort }}email" class="text-white"><i class="fa fa-fw fa-sort"></i></a></th>
            <th scope="col">PGP <a href="{{ urlsort }}pgp" class="text-white"><i class="fa fa-fw fa-sort"></i></a></th>
            <th scope="col">Phone <a href="{{ urlsort }}phone" class="text-white"><i class="fa fa-fw fa-sort"></i></a></th>
            <th scope="col">Tags</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for c in contacts %}
        <tr class="">
            <th scope="row"><span class="badge badge-light">{{ loop.index }}</span></th>
            <td>{{ c.lname }}</td>
            <td>{{ c.fname }}</td>
            <td>{{ c.position }}</td>
            <td>{{ c.email }}</td>
            <td>{{ c.pgp }}</td>
            <td>{{ c.phone }}</td>
            <td>
                {% if c.tags|length > 0 %}
                    {% for t in c.tags|sort %}
                        <a href="{{ url_for('contacts_tag',id=t) }}" class="btn btn-outline-primary btn-sm">{{ t }}</a>
                    {% endfor %}
                {% endif %}
            </td>
            <td>
                <a href="{{ url_for('contacts_mod',id=c.id) }}" class="btn btn-warning btn-sm">edit</a>
                <a href="{{ url_for('contacts_del',id=c.id) }}" class="btn btn-danger btn-sm">delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div> 

<p class="p-2">
    <a href="{{ url_for('contacts_add') }}" class="btn btn-primary btn-sm">add new contact</a>
</p>

<button id="test" class="btn">Test</button>

{% endblock %}